* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url("background.jpg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 380px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    margin-bottom: 25px;
    width: 300px;
    padding: 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    justify-content: space-evenly;
    display: flex;



}



.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
}

.options a {
    color: #fff;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #ffffff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #f9f7f7;
}

.register {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}